body {
	font-size: small;
	padding: 0px; 
	padding-left : 10px;
	margin: 0px;
	max-height: 768px;
	max-width: 1024px;
	height: 768px;
	background-color: #ddf;
	margin: auto;
	padding-left: 10px;
}

h1 {
	background-color: #66f;
	margin: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#footer {
	background-color: #66f;
	margin-top: 0px;
	z-index: 100;
	height: 24px;
	text-align: center;
	font-variant: small-caps;
	width: 100%;
}

#div_right {
	width: 80px;
	background-color: #00f;
	float: right;
}

br#div_right_end {
	
}

div#main { /*float: right;*/
	margin-left: 122px;
	margin-top: -700px;
	min-height: 700px;
}

div#menu_gauche { /*float: left;*/
	height: 700px;
	margin: 0px;
	width: 120px;
	background-color: #00f;
}

div#menu_gauche h1 {
	background-color: #00f;
	color: #ff0;
	margin: 2px;
	font-size: medium;
	text-align: center;
}

div#menu_gauche li {
	background-color: #00a;
	color: #fff;
	padding: 2px;
	margin: 4px;
}

div#menu_gauche ul {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 80%;
	padding: 0px;
	list-style: none;
}

div#menu_gauche a.menuItem,div#menu_gauche a.menuItem:hover,div#menu_gauche a.menuItem:visited
	{
	display: block;
	width: 80px;
	height: 100%;
	padding: 2px;
	text-decoration: none;
	color: #ddd;
}

div#menu_gauche a.menuItem:hover {
	display: block;
	width: 80px;
	height: 100%;
	padding: 2px;
	text-decoration: underline;
	background-color: #44f;
	color: #fff;
}

div#menu_gauche a.sousMenuItem,div#menu_gauche a.sousMenuItem:hover,div#menu_gauche a.sousMenuItem:visited
	{
	display: block;
	width: 45px;
	overflow: hidden;
	height: 100%;
	padding: 2px;
	text-decoration: none;
	color: #ddd;
}

div#menu_gauche a.sousMenuItem:hover {
	display: block;
	height: 100%;
	width: 45px;
	overflow: hidden;
	padding: 2px;
	text-decoration: underline;
	background-color: #44f;
	color: #fff;
}

div#menu_gauche a.expand,div#menu_gauche a.collapse {
	display: inline;
}

a.expand {
	visibility: visible;
	color: white;
	cursor: pointer;
}

a.collapse {
	visibility: hidden;
	color: white;
	cursor: pointer;
}

ul.sousMenu {
	
}

div#agenda_mois {
	
}

div#agenda_mois div.jourdumois,div#agenda_mois div.jourhorsmois,div#agenda_mois div.weekend,div#agenda_mois div.aujourdhui
	{
	border: 1px solid gray;
	float: left;
	width: 9%;
	height: 50px;
	background-color: #fff;
}

div#agenda_mois div.jourhorsmois {
	background-color: #aaa;
	border: 1px solid #aaa;
}

div#agenda_mois div.weekend {
	background-color: #ffd;
}

div#agenda_mois div.aujourdhui {
	background-color: #0f0;
}

div.jourhorsmois a,div.jourhorsmois a:visited {
	color: black;
}

div.jourhorsmois a:hover {
	color: red;
}

div.aujourdhui p,div.jourhorsmois p,div.weekend p,div.jourdumois p {
	margin: 0px;
	padding: 0px;
}

div#agenda_nav {
	position: relative;
	top: 0px;
	right: 0px;
	border: 0px;
}

div#agenda_nav a {
	text-align: center;
	display: block;
	width: 100px;
	font-variant: small-caps;
	height: 30px;
	z-index: -1;
	color: red;
	text-decoration: none;
}

div#agenda_nav img {
	border: 0px;
}

p#infos {
	background-color: #dfd;
}

div#agenda_nav a.gauche {
	float: left;
}

div#agenda_nav a.droite {
	margin-left: 470px;
}

div#agenda_nav p {
	color: #000;
	font-weight: bold;
	position: relative;
	left: 10px;
	top: -10px;
	/*z-index: 100;*/
}

hr.clearNav {
	clear: both;
	visibility: hidden;
}

#agenda_mois h2 {
	position: relative;
	top: -20px;
	padding-left: 250px;
	font-variant: small-caps;
	font-style: oblique;
	border-bottom: 1px solid black;
}

div#etendue {
	float: right;
	bottom: 0px;
}

div#listetaches {
	width: 200%;
}

div#listetaches p {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

div.tacheseffectuees {
	color: blue;
	margin: 0px;
	border: 1px solid green;
}

p.tacheseffectuees {
	display: block;
	width: 100%;
	height: 5pt;
}

label.tacheseffectueesTitre {
	width: 50%;
}

label.tacheseffectuees {
	float: right;
	width: 50%;
}

a.tacheseffectuees {
	display: block;
	margin-bottom: 5px;
}

p.tachesActions {
	text-align: center;
}

.tasks {
	float: left;
	margin: 0px;
	padding: 0px;
	border: 2px solid green;
	width: 300px;
	height: 500px;
	overflow: scroll;
}

.tasks  ul {
	margin: 4px;
	margin-left: 0px;
	list-style-type: none;
	padding: 0px;
}

.tasks li.item {
	font-size: medium;
	margin: 0px;
	border: 0px;
	padding: 0px;
	margin: 3px;
}

.tasks li {
	margin: 0px;
	border: 1px solid #000;
	padding: 3px;
}

.tasks span {
	display: block;
}

.tasks a.item,.tasks a.item:HOVER,.tasks a.item:VISITED {
	text-decoration: none;
	color: #050;
}

.tasks a,.tasks a:HOVER,.tasks a:VISITED {
	color: blue;
}

#commentaires_entreprise {
	bottom: 0px;
	left: 0px;
	width: 250px;
	padding: 0px;
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
	border: 1px solid gray;
}

#entreprise_form label {
	width: 100px;
}

#droiteentreprises {
	position: relative;
	top: 0px;
	margin-left: 400px;
}

#droiteentreprises table.entreprise {
	position: relative;
	margin: 4px;
	border: 2px solid green;
	padding: 4px;
}

#droiteentreprises table.entreprise td {
	border: 1px solid #dfd;
	padding: 2px;
}

div#details_event {
	overflow: scroll;
	color: silver;
	width: 115px;
	width: 30%;
	width: 96%;
	border: 2px solid silver;
	padding: 3px;
	height: 168px;
}

div#details_event h2 {
	font-variant: normal;
	text-align: center;
	font-size: small;
	margin: 0px;
}

div.choix_formation {
	color: gray;
}

div#panel_right {
	float: right;
	top: 0px;
	margin-right: 10px;
	height: 310px;
	/*/width: 120px;*/ /*width: 100%;*/
	width: 30%;
	background-color: navy;
	z-index: 100;
}

div#panel_right p {
	margin: 0px;
	padding: 0px;
}

.droiteselect {
	width: 120px;
	width: 100%;
	background-color: teal;
	color: white;
}

div#etudiant_sel_div {
	width: 200px;
	float: left;
	border: 2px solid navy;
	background-color: teal;
}

div#formation_sel_div,div#etudiant_sel_div,div#selected_div {
	width: 200px;
	float: left;
	/*border: 2px solid navy;*/
	background-color: teal;
}

div#div3,div#div4 {
	width: 606px;
	background-color: teal;
}

#form_description_id {
	width: 390px;
}

div.listeChoixDiv {
	width: 240px;
	float: left;
	/*border: 2px solid #007;*/
	height: 220px;
	background-color: teal;
}

/*
div.listeChoixDivError {
	background-color: #faf;
}

div.listeChoixDiv select.largeur,div.listeChoixDiv input.largeur,div.listeChoixDiv textarea.largeur
	{
	width: 226px;
	margin-left: 5px;
	margin-right: 5px;
}

div.listeChoixDiv p {
	width: 226px;
	margin-left: 5px;
	margin-right: 5px;
}

div.listeChoixDiv select.largeur {
	
}

div.listeChoixDiv .datelargeur {
	width: 50px;
}

div.listeChoixDiv input.largeur {
	width: 176px;
	height: 30px;
}

div.listeChoixDiv textarea.largeur {
	width: 690px;
	height: 300px;
}
#div4
{
	width: 728px;
	height: 500px;
}
*/
hr.clear {
	clear: left;
}

/*
div.listeChoixDiv .largeurSubmit {
	height: 30px;
}

div.listeChoixDiv input.largeurSubmit {
	width: 186px;
	margin-left: 5px;
	margin-right: 5px;
}
*/ /*
#errors_ul {
	font-variant: small-caps;
	color: red;
	font-size: xx-small;
	margin-left: 630px;
	height: 150px;
	width: 186px; padding-left : 5px; padding-right : 5px;
	overflow: scroll;
	padding-left: 5px;
	padding-right: 5px;
}
*/
.color0 {
	color: #1f1;
	border: 2px solid #1b1;
	padding: 2px;
	margin: 2px;
}

.color1 {
	color: #f11;
	border: 2px solid #b11;
	padding: 2px;
	margin: 2px;
}

#login_form .title {
	text-align: center;
	font-size: medium;
	border-bottom: 3px solid #f00;
}

#login_form tr {
	margin: 0px;
	padding: 0px;
}

#login_form {
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #f00;
	background-color: #800;
	color: #fdd;
}

#login_form td {
	padding: 5px;
}

#login_form .property {
	text-align: right;
}

#login_form .submit {
	background-color: #800;
	color: #fdd;
}

.infoUserBox {
	margin: 0px;
	padding: 0px;
	display: block;
	float: right;
	color: #f44;
	background-color: #efe;
	border: 1px solid #f55;
	margin: 2px;
	padding: 3px;
	text-decoration: none;
}

p.infoUserBox {
	background-color: activecaption;
	color: black;
	border: 1px solid #efe;
	text-transform: capitalize;
}

a.infoUserBox:HOVER {
	color: black;
}

.hiddenEventForm {
	visibility: hidden;
}

table#eventview {
	background-color: #ddf;
}

#events_list td {
	padding: 5px;
	font-size: medium;
	background-color: #dfd;
	border: 1px solid #4f4;
}

#candidature_table {
	padding: 3px;
	font-size: medium;
	border: 1px solid #5f5;
	background-color: #030;
	width: 100%;
}

#candidature_table td {
	padding: 2px;
	font-size: medium;
	border: 1px solid #5f5;
	color: #3b3;
	background-color: #afa;
}

#candidature_table th {
	padding: 2px;
	font-size: medium;
	border: 1px solid #5f5;
	color: #eee;
	background-color: #0a0;
}

a.evt1,a.evt1:visited,a.shadowbox,a.shadowbox:visited,a.link,a.link:visited
	{ /*padding: 1px;*/
	text-decoration: none;
	color: #00f;
	/*background-color: #fff;*/
	display: none;
}

a.evt1navLeft:visited,a.evt1navLeft {
	float: left;
	color: #00f;
	text-decoration: none;
	/*background-color: #fff;*/
}

a.evt1navRight:visited,a.evt1navRight {
	float: right;
	color: #00f;
	text-decoration: none;
	/*background-color: #fff;*/
}

a.evt1nav:hover { /*padding: 1px;*/
	font-weight: bolder;
	text-decoration: none;
	background-color: #44f;
	color: white;
}

.showEvt {
	width: 100%;
	height: 20px;
	border-top: 1px solid gray;
	/*background-color: #fff;*/
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	font-size: smaller;
	height: 30px;
	padding: 0px;
	text-align: center;
	/*border: 1px dotted #00f;*/
	color: #000;
}

.showEvt a:visited,.showEvt a {
	color: #00f;
}

.showEvt a:hover {
	background-color: white;
	color: #44f;
	font-weight: bolder;
	text-decoration: underline;
}

.entreprise_liste {
	font-size: medium;
}

//
Validation
.errorLabel {
	background-image: url(images/error-graphic.gif);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 16px;
}

.fixedLabel {
	background-image: url(images/astrick.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 6px;
}

label {
	font-weight: bold;
	color: #592C16
}

.required {
	color: #FF0000;
}

.errortxt {
	color: #FF0000;
	display: none;
}

#errorwarning {
	color: #FFFFFF;
	padding: 6px 15px;
	background-color: #FF0000;
	border-left: 15px solid #990000;
	margin: 5px 0;
	display: none;
}

.requiredcontainer {
	color: #999999;
	text-align: right;
	float: right;
	width: 75px;
}

table.entreprise tr td {
	padding: 4px;
}

table.entreprise {
	float: left;
	margin: 10px 30px 0 0;
	border-right: 1px solid #e8e8e8;
	padding-right: 30px;
}

/* page profil */
h2 {
	margin-top: 0px;
}

a.submitButton,a.submitButton:visited {
	font-size: medium;
	margin: 3px;
	padding: 3px;
	border: 2px solid #3a3;
	background-color: #0d0;
	color: #fff;
	text-decoration: none;
}

a.submitButton:hover {
	font-size: medium;
	margin: 3px;
	padding: 3px;
	border: 2px solid #000;
	background-color: #080;
	color: #fff;
	text-decoration: none;
}

a.actionButton,a.actionButton:visited {
	font-size: medium;
	margin: 3px;
	padding: 3px;
	border: 2px solid #03a;
	background-color: #04e;
	color: #fff;
	text-decoration: none;
}

a.actionButton:hover {
	font-size: medium;
	margin: 3px;
	padding: 3px;
	border: 2px solid #007;
	background-color: #00d;
	color: #fff;
	text-decoration: none;
}

a.buttonProfilNav,a.buttonProfilNav:visited {
	font-size: medium;
	margin: 3px;
	padding: 3px;
	border: 2px solid #33a;
	background-color: #00d;
	color: white;
	text-decoration: none;
}

a.buttonProfilNav:hover {
	font-size: medium;
	margin: 3px;
	padding: 3px;
	border: 2px solid #000;
	background-color: #009;
	color: gray;
	text-decoration: none;
}

form.formProfil {
	border: 1px dotted white;
}

form.formProfil fieldset {
	position: relative;
	border: 0px;
	margin: 3px;
	padding: 3px;
}

form.formProfil label {
	font-size: medium;
	position: absolute;
	width: 180px;
}

span.input {
	position: relative;
	margin-left: 200px;
}

div#liste {
	float: right;
	width: 30%;
	height: 400px;
	border: 2px solid #ccc;
}

div#liste li {
	font-size: small;
	height: 25px;
}

div#liste li a {
	color: white;
	text-decoration: none;
}

div#liste li .itemListe {
	float: left;
	padding: 2px;
	color: #5ff;
	width: 50%;
	background-color: #55f;
	overflow: hidden;
}

div#liste li .actionButton {
	font-size: small;
}

fieldset#right {
	height: 370px;
}

a.editLink,a.editLink:visited {
	font-size: medium;
	text-decoration: underline;
	color: #00f;
	margin: 2px;
	padding: 3px;
}

a.editLink:hover {
	font-size: medium;
	font-weight: bolder;
	text-decoration: underline;
	color: #00f;
	margin: 2px;
	padding: 3px;
}

a.sommaire {
	display: block;
	float: left;
	font-size: small;
	text-decoration: underline;
	color: #f99;
	background-color: #900;
	margin: 2px;
	padding: 3px;
}

a.sommaire:hover {
	display: block;
	float: left;
	font-size: small;
	text-decoration: underline;
	background-color: #999;
	color: #fff;
	margin: 2px;
	padding: 3px;
}

h1#titrePage {
	margin-bottom: 1px;
	background-color: #cc3;
	border: 5px solid #ccf;
}

li.sommaireItem {
	width: 300px;
	padding: 3px;
}

li.sommaireItem a {
	display: block;
	width: 100%;
	font-size: small;
	text-decoration: underline;
	color: #fdd;
	background-color: #988;
	margin: 2px;
	padding: 3px;
}

li.sommaireItem a {
	display: block;
	width: 100%;
	font-size: small;
	text-decoration: underline;
	color: #fff;
	background-color: #955;
	margin: 2px;
	padding: 3px;
}

/* Page echéances */
fieldset.formations {
	width: 50%;
}

fieldset.etudiants {
	width: 50%;
}

fieldset.selectionnes {
	width: 50%;
}

fieldset.date {
	width: 50%;
}

fieldset.code {
	display: none;
	width: 50%;
}

fieldset.titre {
	width: 50%;
}

fieldset.description {
	width: 50%;
}

fieldset.submit {
	width: 50%;
}

form#echeancesForm {
	
}

select#etudiants_sel,select#formations_sel,select#selected,input.titre_text,textarea.description_ta,input.code_text
	{
	width: 100%;
}

/*
	Page de test pour l'édition des profils
*/ /* Don't change these options */
#movableNode {
	position: absolute;
}

#arrDestInditcator {
	position: absolute;
	display: none;
	width: 100px;
}

/* End options that shouldn't be changed */
#arrangableNodes,#movableNode ul {
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 0px;
	background-color: #00F;
	width: 30%;
}

#arrangableNodes li,#movableNode li {
	list-style-type: none;
	cursor: default;
	background-color: #99F;
}